@import 'toolkit/reset';
@import 'toolkit';
@import 'ibm-colors';

* {
  &:focus {
    outline-color: color('teal', 50);
    outline-style: auto;
    outline-width: 5px;
  }
}
@import 'partials/components';
@import 'partials/layouts';
