<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% if title %}{{title}} | {% endif %}Reparo</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header class="topbar">
    <div class="_container">
      <a href="/" class="topbar--logo">{% include 'reparo.svg' %}<span class="a11y--HIDDEN">Reparo - Home</span></a>
      {% if authenticated %}
{#       <nav class="topbar--nav">
        <ul class="topbar--list">

          <li class="topbar--item"><a class="topbar--link" href="/">Labels</a></li>
          <li class="topbar--item"><a class="topbar--link" href="/repos">Repos</a></li>
        </ul>
      </nav> #}
      {% else %}
        <div class="topbar--login">{% include 'components/login.html' %}</div>
      {% endif %}

      {% if user %}
      <section class="pill">
        <img src="{{user.avatar}}" class="pill--avatar" alt="">
        <p class="pill--name">{{user.name}}</p>
      </section>
      {% endif %}
    </div>
  </header>

  <main class="main">
    {% block main %}{% endblock %}
  </main>


</body>
</html>
