<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% if title %}{{title}} | {% endif %}Reparo</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header class="topbar">
    <a href="/" class="topbar--logo">{% include 'reparo.svg' %}<span class="a11y--HIDDEN">Reparo - Home</span></a>
    <nav class="topbar--nav">
      <ul class="topbar--list">
      {% if authenticated %}
        <li class="topbar--item"><a class="topbar--link" href="/">Labels</a></li>
        <li class="topbar--item"><a class="topbar--link" href="/repos">Repos</a></li>

      {% else %}
        <li class="topbar--item"><a class="topbar--link" href="/login">Login</a></li>
      {% endif %}
      </ul>
    </nav>

    {% if user %}
    <section class="topbar--user">
      <p class="topbar--user"><img src="{{user.avatar}}" class="topbar--avatar" alt="">{{user.name}}</p>
    </section>
    {% endif %}
  </header>

  <main class="main">
    {% block main %}{% endblock %}
  </main>


</body>
</html>
