<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% if title %}{{title}} | {% endif %}Reparo</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
    <a href="/"><img src="/images/reparo.svg" alt="Repart"></a>
    <nav>
      <ul>
      {% if authenticated %}
        <li><a href="/">Labels</a></li>
        <li><a href="/repos">Repos</a></li>

      {% else %}
        <li><a href="/login">Login</a></li>
      {% endif %}
      </ul>
    </nav>

    {% if user %}
    <section class="header--user">
      <img src="{{user.avatar}}" alt=""><p>{{user.name}}</p>
    </section>
    {% endif %}
  </header>

  <main>
    {% block main %}{% endblock %}
  </main>


</body>
</html>
