{% extends 'partials/_html.html' %}
{% from 'macros/label-form.html' import label %}

{% block main %}


<form action="">
  <section class="_repos">
    {% for org in repos.orgs %}
    <details class="org">
      <summary class="org--summary">
        <div class="pill">
          <img class="pill--avatar" src="{{org.avatar}}" height="50" width="50">
          <span class="pill--name">{{org.name}}</span>
        </div>
      </summary>

      {# <input id="select-all--{{org.name}}" type="submit" name="select-all--{{org.name}}" value="Select All"> #}

      <ul class="org--repos">
        {% for repo in repos.repos %}
          {% if repo.owner.login == org.name %}
            <li>
              <label for="select--{{org.name}}-{{repo.name}}">
                <input id="select--{{org.name}}-{{repo.name}}" type="checkbox">
                <a href="{{host}}/{{repo.owner}}/{{repo.name}}">{{repo.name}}</a>
              </label>
              </li>
          {% endif %}
        {% endfor %}
      </ul>
    </details>
    {% endfor %}
  </section>

  <section class="_labels">
    {% for title, options in labels %}
      {{label(title, options)}}
    {% endfor %}
    <input type="submit" name="submit" value="Add Label Group" class="add-labels">
  </section>

  <input type="submit" name="submit" value="Generate" class="submit">
</form>

{% endblock %}
