{% extends 'partials/_html.html' %}
{% from 'macros/label-form.html' import label %}

{% block main %}

<form action="/labels" method="post" enctype="multipart/form-data" novalidate="">
  <section class="_repos">
  {# Do this with anchor tags and :target #}
    <section class="_repos--orgs">
      {% for org in repos.orgs %}
      {% if org.name == user.account %}
      <div class="tab--USER">
        <img class="tab--avatar" src="{{org.avatar}}" height="50" width="50">
        <div class="tab--info">
          <h2 class="tab--user"><a class="tab--user-link" href="#org--{{org.name}}">{{org.name}}</a></h2>
          <p class="tab--count">Repositories: {{org.total}}</p>
          <details class="tab--token">
            <summary>Token {% include 'eye.svg' %}</summary>
            <pre><code>{{token}}</code></pre>
          </details>
        </div>
      </div>
      {% endif %}
      {% endfor %}
      <h3 class="_repos--separator">Organizations</h3>
      {% for org in repos.orgs %}
      {% if org.name != user.account %}
      <a href="#org--{{org.name}}" class="tab">
        <img class="tab--avatar" src="{{org.avatar}}" height="50" width="50">
        <span class="tab--info">
          <span class="tab--name">{{org.name}}</span>
          <span class="tab--count">Repositories: {{org.total}}</span>
        </span>
      </a>
      {% endif %}
      {% endfor %}
    </section>

    <section class="_repos--repos">
    {# Make sure user is first #}
    {% for org in repos.orgs %}
      {% if org.name == user.account %}
      <section class="org" id="org--{{org.name}}">
        <h3>{{org.name}}</h3>
        <ul class="org--repos">
        {% for repo in repos.repos %}
          {% if repo.owner.login == org.name %}
            <li>
              <label for="select--{{org.name}}-{{repo.name}}">
                <input name="repos" value="{{org.name}}/{{repo.name}}" id="select--{{org.name}}-{{repo.name}}" type="checkbox">{{repo.name}}
              </label>
              <a class="org--link" href="{{host}}/{{repo.owner.login}}/{{repo.name}}">{% include 'octocat.svg' %}</a>
            </li>
          {% endif %}
        {% endfor %}
      </section>
      </ul>
      {% endif %}
    {% endfor %}
    {# Make sure rest are second #}
    {% for org in repos.orgs %}
      {% if org.name != user.account %}
      <section class="org" id="org--{{org.name}}">
        <h3>{{org.name}}</h3>
        <ul class="org--repos">
        {% for repo in repos.repos %}
          {% if repo.owner.login == org.name %}
            <li>
              <label for="select--{{org.name}}-{{repo.name}}">
                <input name="repos" value="{{org.name}}/{{repo.name}}" id="select--{{org.name}}-{{repo.name}}" type="checkbox">{{repo.name}}
              </label>
              <a class="org--link" href="{{host}}/{{repo.owner.login}}/{{repo.name}}">{% include 'octocat.svg' %}</a>
            </li>
          {% endif %}
        {% endfor %}
      </section>
      </ul>
      {% endif %}
    {% endfor %}
    </section>
  </section>

  <section class="_labels">
    {% for title, options in labels %}
      {{label(title, options, loop.index0)}}
    {% endfor %}
    <footer class="_labels--actions">
      <input type="submit" name="submit" value="Add Label Group" class="add-labels">
    </footer>
  </section>

  <input type="submit" name="submit" value="Generate" class="submit">
</form>



{% endblock %}
