.org {
  break-inside: avoid;


  &[open] {
    .pill--name {
      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }

  &--summary {
    margin-top: .25em;

    .pill--name {
      background-color: transparent;
      padding-right: 1em;
      position: relative;

      &::before,
      &::after {
        background: color('black');
        content: '';
        height: 2px;
        margin-top: -1px;
        position: absolute;
        right: 0;
        top: 50%;
        transition: transform .2s;
        width: 10px;
      }

      &::before {
        transform: rotate(90deg);
      }

      &::after {
        transform: rotate(0deg);
      }
    }


    &::-webkit-details-marker {
      display: none;
    }
  }

  &--repos {
    padding: 1em 2em;
  }
}
