.org {
  break-inside: avoid;


  &[open] {
    .pill--name {
      &::after {
        transform: rotate(45deg) translateY(-.25em);
        transform-origin: center;
      }
    }
  }

  &--summary {
    margin-top: .25em;

    .pill--name {
      background-color: transparent;

      &::after {
        content: '+';
        display: inline-block;
        padding-left: .5em;
        transition: transform .2s;
      }
    }


    &::-webkit-details-marker {
      display: none;
    }
  }

  &--repos {
    padding: 1em 2em;
  }
}
