.org {
  display: none;
  font-family: sans-serif;

  &:first-of-type {
    // display: block;

    // &:not(:target) {
    //   display: none;
    // }
  }

  &:target {
    display: block;
  }

  li {
    @include clearfix;
    width: 100%;
  }

  label {
    display: inline-block;
    width: calc(100% - 1em);

    &:hover {
      cursor: pointer;
    }
  }

  &--link {
    display: inline-block;
    float: right;
    transform: translateY(.15em);
    width: 1em;
  }

  h3 {
    border-bottom: 1px solid color('neutral-white', 40);
    font-size: 1.5em;
  }

  &--repos {
    font-size: 1.25em;
    line-height: 1.5em;
    margin-top: 1em;

    [type='checkbox'] {
      margin-right: .5em;
      transform: translateY(-.1em);
    }

    li {
      border-radius: 3px;
      padding: .25em;

      &:nth-of-type(even) {
        background: color('neutral-white', 20);
      }
    }
  }
}


.tab {
  @include clearfix;
  color: color('black');
  display: block;
  font-family: sans-serif;
  font-size: .9em;
  margin-top: 1em;
  padding: .5em;
  text-decoration: none;

  &[open] {
    background: color('neutral-white', 20);
  }


  &--avatar {
    border-radius: 3px;
    float: left;
    height: 2.5em;
    margin-right: .5em;
    width: 2.5em;
  }

  &--name,
  &--count {
    display: block;
  }

  &--name {
    font-weight: bold;
  }

  &--token {
    summary {
      &::-webkit-details-marker {
        display: none;
      }
    }

    pre {
      background: color('neutral-white', 20);
      border-radius: 3px;
      font-size: .8em;
      padding: .25em;
    }
  }

  &--USER {
    font-family: sans-serif;
    font-size: 1em;
  }

  &--user-link {
    color: color('black');
    font-size: 1.2em;
    text-decoration: none;
  }
}

.eye {
  fill: none;
  stroke: color('black');
  transform: translateY(.25em);
  width: 1em;


  [open] & {
    fill: color('black');
    stroke: none;
  }
}

.iris {
  fill: none;
  stroke: color('black');

  [open] & {
    fill: color('black');
    stroke: none;
  }
}
