.logo {
  display: inline-block;
  max-width: 200px;
  &--gear {
    animation: rotate 10s infinite linear;
    fill: color('cool-grey', 40);
    transform-origin: center;
  }

  &--repo {
    fill: color('teal');
  }

  &--name {
    fill: color('teal', 80);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
